<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>username :</p>
    <input type="text" name="username" id="username" ">
    <p>password :</p>
    <input type="password" id="password" name="password" > <br>
    <button type="button" class="btn-edit">Sửa</button>
    <button type="button" class="btn-delete">Xóa</button>
  </body>
</html>
